{%- if linklists[block.settings.menu].links.size > 0 -%}
  {%- if block.settings.show_footer_title -%}
    <p class="h4 footer__title small--hide">
      {{ linklists[block.settings.menu].title }}
    </p>
    <button type="button" class="h4 footer__title collapsible-trigger-disable collapsible-trigger-btn-disable medium-up--hide" aria-controls="Footer-{{ block.id }}">
      {{ linklists[block.settings.menu].title }}
      {%- render 'collapsible-icons' -%}
    </button>
  {%- endif -%}
  <div
    {% if block.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content-disable collapsible-content--small-disable"
    {% endif %}>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
        <ul class="no-bullets site-footer__linklist1">
          {%- for link in linklists[block.settings.menu].links -%}
            <li>
                  {%- if link.links != blank -%}
                      <a href="{{ link.url }}" class="heading-footer1">{{ link.title }}</a>
                      <ul>
                        {%- for childlink in link.links -%}
                            <li>
                                <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                            </li>  
                        {%- endfor -%}
                      </ul>
                  {%- else -%}
                    <a href="{{ link.url }}" class="heading-footer1">{{ link.title }}</a>
                  {%- endif -%}         
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
{%- endif -%}
